@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* website theme colors*/
  --white-smoke: #f5f5f5ff;
  --night: #0d0d0dff;
  --rich-black: #0a0a1fff;
  --white: #fcfcfcff;
  --screamin-green: #82f575ff;
  --light-green: #b6f99fff;
  --mauveine: #aa1daaff;
  --red: #ff0a0aff;

  /* variables and usage */
  --background: var(--white-smoke);
  --foreground: var(--night);

  --card: var(--white);
  --card-foreground: var(--foreground);

  --popover: var(--white);
  --popover-foreground: var(--foreground);

  --primary: var(--screamin-green);
  --primary-foreground: var(--foreground);

  --secondary: var(--mauveine);
  --secondary-foreground: var(--white);

  --muted: #ebebeb;
  --muted-foreground: #4f4f4f;
  --muted-primary: var(--light-green);

  --accent: var(--light-green);
  --accent-foreground: var(--foreground);

  --destructive: var(--red);
  --destructive-foreground: var(--white);

  --border: var(--muted-foreground);
  --input: var(--background);
  --ring: var(--primary);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--rich-black);
    --foreground: var(--white);

    --card: var(--night);
    --card-foreground: var(--foreground);

    --popover: var(--night);
    --popover-foreground: var(--foreground);

    --primary: var(--screamin-green);
    --primary-foreground: var(--night);

    --secondary: var(--mauveine);
    --secondary-foreground: var(--foreground);

    --muted: #1a1a1a;
    --muted-foreground: #bdbdbd;
    --muted-primary: var(--light-green);

    --accent: var(--light-green);
    --accent-foreground: var(--night);

    --destructive: var(--red);
    --destructive-foreground: var(--foreground);

    --border: var(--muted-foreground);
    --input: var(--background);
    --ring: var(--primary);

    --radius: 0.5rem;
  }
}

@layer base {
  html {
    @apply border-border scroll-smooth;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
    /* font-family: Arial, Helvetica, verdana, sans-serif; */
    line-height: 1.5;
  }

  a {
    @apply text-primary;
  }

  a:hover {
    @apply text-secondary underline  transition-colors;
    text-decoration-skip-ink: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-foreground;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    @apply text-muted-foreground;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  button {
    @apply bg-primary text-primary-foreground rounded px-4 py-2 border-none;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    @apply bg-muted-primary;
  }

  /* Checkbox */
  input[type="checkbox"] {
    @apply appearance-none transition;
  }

  input[type="checkbox"]:focus {
    @apply outline-none border-ring;
  }

  /* Checkbox hover state */
  input[type="checkbox"]:hover {
    @apply bg-muted-primary;
  }

  /* Base typography for blog content */
  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    @apply font-bold text-foreground mt-4 mb-2;
  }

  .blog-content h1 {
    @apply text-4xl;
  }

  .blog-content h2 {
    @apply text-3xl;
  }

  .blog-content h3 {
    @apply text-2xl;
  }

  .blog-content p {
    @apply text-muted-foreground text-base leading-relaxed my-4;
  }

  .blog-content ul {
    @apply list-disc list-inside ml-6 mb-4;
  }

  .blog-content ol {
    @apply list-decimal list-inside ml-6 mb-4;
  }

  .blog-content li {
    @apply text-base leading-relaxed text-muted-foreground;
  }

  .blog-content blockquote {
    @apply border-l-4 border-muted pl-4 italic text-muted-foreground my-4;
  }

  .blog-content pre {
    @apply bg-muted p-4 rounded-md overflow-x-auto;
  }

  .blog-content code {
    @apply bg-muted text-muted-foreground px-1 py-0.5 rounded;
  }

  .blog-content a {
    @apply text-primary;
  }

  .blog-content a:hover {
    @apply text-secondary;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  .blog-content img {
    @apply max-w-full h-auto rounded-md my-4;
  }
}

@layer components {
  .card {
    @apply bg-card text-card-foreground p-4 rounded-lg shadow-lg;
  }

  /* Popover */
  .popover {
    @apply bg-popover text-popover-foreground p-4 rounded-lg shadow-lg;
  }

  /* Alert */
  .alert {
    @apply bg-card text-muted-foreground p-4 rounded-lg shadow-lg;
  }
}
