@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* website theme colors*/

  /* Green-themed colors*/

  --soft-white: #f5f5f5; /*Main BG*/
  --muted-green: #e8efe9; /*Section BG Color*/
  --light-blue: #e0eff6; /*Section BG Color*/

  --dark-teal-green: #004d4d; /* Title Text color */
  --dark-grayish-blue: #2e3c3c; /* Body Text color */
  --light-teal-green: #007777; /* Link Text color */

  --deep-teal-green: #006666; /* Primary color */
  --rich-navy-blue: #004d4d; /* Secondary color */
  --pastel-yellow: #fff4c2; /* Accent Yellow color */
  --light-pastel-blue: #cbe4f9; /* Accent Blue color */
  --soft-peach: #f9d8d6; /* Accent Peach color */
  --destructive-red: #ff4c4c;

  --light-muted: #b0d4e3;
  --dark-muted: #4a6a80;

  --light-border: #b2d8c5;
  --dark-border: #4d7366;

  --screamin-green: #82f575ff;
  /*
  --white-smoke: #f5f5f5ff;
  --night: #0d0d0dff;
  --rich-black: #0a0a1fff;
  --white: #fcfcfcff;
  --light-green: #b6f99fff;
  --mauveine: #aa1daaff;
  --red: #ff0a0aff;
  */

  /* Variables and Usage */
  --background: var(--soft-white);
  --foreground: var(--dark-teal-green);

  --card: var(--soft-white);
  --card-foreground: var(--foreground);

  --popover: var(--muted-green);
  --popover-foreground: var(--foreground);

  --primary: var(--deep-teal-green);
  --primary-foreground: var(--foreground);

  --secondary: var(--rich-navy-blue);
  --secondary-foreground: var(--soft-white);

  --muted: var(--light-muted);
  --muted-foreground: var(--dark-grayish-blue);
  --muted-primary: var(--light-teal-green);

  --accent: var(--light-teal-green);
  --accent-foreground: var(--foreground);

  --destructive: var(--destructive-red);
  --destructive-foreground: var(--soft-white);

  --border: var(--light-border);
  --input: var(--background);
  --ring: var(--primary);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --background: var(--dark-teal-green);
    --foreground: var(--soft-white);

    --card: var(--dark-muted);
    --card-foreground: var(--foreground);

    --popover: var(--dark-muted);
    --popover-foreground: var(--foreground);

    --primary: var(--deep-teal-green);
    --primary-foreground: var(--dark-teal-green);

    --secondary: var(--rich-navy-blue);
    --secondary-foreground: var(--foreground);

    --muted: var(--dark-muted);
    --muted-foreground: var(--light-blue);
    --muted-primary: var(--light-teal-green);

    --accent: var(--light-pastel-blue);
    --accent-foreground: var(--dark-teal-green);

    --destructive: var(--destructive-red);
    --destructive-foreground: var(--foreground);

    --border: var(--light-border);
    --input: var(--background);
    --ring: var(--primary);

    --radius: 0.5rem;
  }
}

@layer base {
  html {
    @apply border-border scroll-smooth;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
    /* font-family: Arial, Helvetica, verdana, sans-serif; */
    line-height: 1.5;
  }

  a {
    color: var(--light-teal-green);
  }

  a:hover {
    @apply text-secondary underline  transition-colors;
    text-decoration-skip-ink: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--dark-teal-green);
  }

  p {
    @apply text-muted-foreground;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  button {
    @apply bg-primary text-primary-foreground rounded px-4 py-2 border-border;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    @apply bg-muted-primary;
  }

  /* Checkbox */
  input[type="checkbox"] {
    @apply appearance-none transition;
  }

  input[type="checkbox"]:focus {
    @apply outline-none border-ring;
  }

  /* Checkbox hover state */
  input[type="checkbox"]:hover {
    @apply bg-muted-primary;
  }

  /* Base typography for blog content */
  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    @apply font-bold text-foreground mt-4 mb-2;
  }

  .blog-content h1 {
    @apply text-4xl;
  }

  .blog-content h2 {
    @apply text-3xl;
  }

  .blog-content h3 {
    @apply text-2xl;
  }

  .blog-content p {
    @apply text-muted-foreground text-base leading-relaxed my-4;
  }

  .blog-content ul {
    @apply list-disc list-inside ml-6 mb-4;
  }

  .blog-content ol {
    @apply list-decimal list-inside ml-6 mb-4;
  }

  .blog-content li {
    @apply text-base leading-relaxed text-muted-foreground;
  }

  .blog-content blockquote {
    @apply border-l-4 border-muted pl-4 italic text-muted-foreground my-4;
  }

  .blog-content pre {
    @apply bg-muted p-4 rounded-md overflow-x-auto;
  }

  .blog-content code {
    @apply bg-muted text-muted-foreground px-1 py-0.5 rounded;
  }

  .blog-content a {
    @apply text-primary;
  }

  .blog-content a:hover {
    @apply text-secondary;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  .blog-content img {
    @apply max-w-full h-auto rounded-md my-4;
  }

  .rbc-calendar {
    background-color: #fff;
  }

  .rbc-event {
    background-color: #4f46e5;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }

  .rbc-toolbar button {
    background-color: #e5e7eb;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .rbc-toolbar button:hover {
    background-color: #d1d5db;
  }
}

@layer components {
  .card {
    @apply bg-card text-card-foreground p-4 rounded-lg shadow-lg;
  }

  /* Popover */
  .popover {
    @apply bg-popover text-popover-foreground p-4 rounded-lg shadow-lg;
  }

  /* Alert */
  .alert {
    @apply bg-card text-muted-foreground p-4 rounded-lg shadow-lg;
  }
}
