@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* website theme colors*/
  --teal: #5eead4; /* Secondary supportive green */
  --lavender: #c084fc; /* Subtle lavender for accents */

  --background: #f4f4f5;
  --foreground: #18181b;

  --card: #CBF3D2;
  --card-foreground: var(--foreground);

  --popover: #CBF3D2;
  --popover-foreground: var(--foreground);

  --primary: #1F5256;
  --primary-foreground: white;

  --secondary: #330C2F;
  --secondary-foreground: white;

  --muted: #e5e7eb;
  --muted-foreground: #6b7280;
  --muted-primary: #CBF3D2;

  --accent: #B7C0EE;
  --accent-foreground: var(--foreground);

  --destructive: #ef4444;
  --destructive-foreground: white;

  --border: #d1d5db;
  --input: var(--background);
  --ring: var(--primary);

  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Colors */
    --background: #0f172a;
    --foreground: white;

    --card: ;
    --card-foreground: var(--foreground);

    --popover: ;
    --popover-foreground: var(--foreground);

    --primary: #1F5256;
    --primary-foreground: white;

    --secondary: #330C2F;
    --secondary-foreground: white;

    --muted: #1f2937;
    --muted-foreground: #d1d5db;
    --muted-primary: #CBF3D2;

    --accent: ;
    --accent-foreground: ;

    --destructive: #ef4444;
    --destructive-foreground: white;

    --border: #374151;
    --input: var(--background);
    --ring: var(--primary);

    --radius: 0.75rem;
  }
}

@layer base {
  html {
    @apply border-border scroll-smooth;
    font-family: "Inter", Arial, sans-serif;
  }

  body {
    @apply bg-background text-foreground antialiased;
    line-height: 1.6;
  }

  a {
    @apply text-primary underline-offset-2;
    text-decoration-skip-ink: auto;
  }

  a:hover {
    @apply text-secondary underline transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold text-foreground;
    margin-bottom: 0.5rem;
    color: var(--dark-teal-green);
  }

  p {
    @apply text-muted-foreground;
    margin-bottom: 1rem;
  }

  button {
    @apply bg-primary text-primary-foreground rounded px-6 py-2;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }

  button:hover {
    @apply bg-muted-primary text-primary-foreground;
  }

   /* Refined card styles */
   .card {
    @apply bg-card text-card-foreground p-6 rounded-lg shadow-md transition-all;
    border: 1px solid var(--border);
  }

  /* Checkbox */
  input[type="checkbox"] {
    @apply appearance-none transition;
  }

  input[type="checkbox"]:focus {
    @apply outline-none border-ring;
  }

  /* Checkbox hover state */
  input[type="checkbox"]:hover {
    @apply bg-muted-primary;
  }

  /* Base typography for blog content */
  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    @apply font-bold text-foreground mt-4 mb-2;
  }

  .blog-content h1 {
    @apply text-4xl;
  }

  .blog-content h2 {
    @apply text-3xl;
  }

  .blog-content h3 {
    @apply text-2xl;
  }

  .blog-content p {
    @apply text-muted-foreground text-base leading-relaxed my-4;
  }

  .blog-content ul {
    @apply list-disc list-inside ml-6 mb-4;
  }

  .blog-content ol {
    @apply list-decimal list-inside ml-6 mb-4;
  }

  .blog-content li {
    @apply text-base leading-relaxed text-muted-foreground;
  }

  .blog-content blockquote {
    @apply border-l-4 border-muted pl-4 italic text-muted-foreground my-4;
  }

  .blog-content pre {
    @apply bg-muted p-4 rounded-md overflow-x-auto;
  }

  .blog-content code {
    @apply bg-muted text-muted-foreground px-1 py-0.5 rounded;
  }

  .blog-content a {
    @apply text-primary;
  }

  .blog-content a:hover {
    @apply text-secondary;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  .blog-content img {
    @apply max-w-full h-auto rounded-md my-4;
  }

  .rbc-calendar {
    background-color: #fff;
  }

  .rbc-event {
    background-color: #4f46e5;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
  }

  .rbc-toolbar button {
    background-color: #e5e7eb;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .rbc-toolbar button:hover {
    background-color: #d1d5db;
  }
}

@layer components {
  .card {
    @apply bg-card text-card-foreground p-4 rounded-lg shadow-lg;
  }

  /* Popover */
  .popover {
    @apply bg-popover text-popover-foreground p-4 rounded-lg shadow-lg;
  }

  /* Alert */
  .alert {
    @apply bg-card text-muted-foreground p-4 rounded-lg shadow-lg;
  }
}
