@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* website theme colors*/
  --screamin-green: 114, 86%, 71%, 1;
  --tea-green: 105, 88%, 90%, 1;
  --white: 160, 60%, 99%, 1;
  --white-smoke: 0, 0%, 96%, 1;
  --platinum: 240, 4%, 86%, 1;
  --davys-gray: 240, 6%, 32%, 1;
  --dark-purple: 263, 100%, 5%, 1;
  --oxford-blue: 240, 61%, 10%, 1;
  --mauveine: 300, 82%, 37%, 1;
  --off-red-rgb: 0, 98%, 52%, 1;

  /* variables and usage */
  --background: var(--white-smoke);
  --foreground: var(--oxford-blue);

  --card: var(--white);
  --card-foreground: var(--oxford-blue);

  --popover: var(--white);
  --popover-foreground: var(--oxford-blue);

  --primary: var(--screamin-green);
  --primary-foreground: var(--oxford-blue);

  --secondary: var(--mauveine);
  --secondary-foreground: var(--white);

  --muted: var(--platinum);
  --muted-foreground: var(--davys-gray);
  --muted-primary: var(--tea-green);

  --accent: var(--mauveine);
  --accent-foreground: var(--white);

  --destructive: var(--off-red-rgb);
  --destructive-foreground: var(--white);

  --border: var(--davys-gray);
  --input: var(--platinum);
  --ring: var(--screamin-green);

  --chart-1: var(--screamin-green);
  --chart-2: var(--mauveine);
  --chart-3: var(--oxford-blue);
  --chart-4: var(--davys-gray);
  --chart-5: var(--off-red-rgb);

  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-purple);
    --foreground: var(--white);

    --card: var(--oxford-blue);
    --card-foreground: var(--white);

    --popover: var(--oxford-blue);
    --popover-foreground: var(--white);

    --primary: var(--screamin-green);
    --primary-foreground: var(--oxford-blue);

    --secondary: var(--mauveine);
    --secondary-foreground: var(--white);

    --muted: var(--davys-gray);
    --muted-foreground: var(--platinum);
    --muted-primary: var(--tea-green);

    --accent: var(--mauveine);
    --accent-foreground: var(--white);

    --destructive: var(--off-red-rgb);
    --destructive-foreground: var(--white);

    --border: var(--platinum);
    --input: var(--davys-gray);
    --ring: var(--screamin-green);

    --chart-1: var(--screamin-green);
    --chart-2: var(--mauveine);
    --chart-3: var(--white);
    --chart-4: var(--platinum);
    --chart-5: var(--off-red-rgb);

    --radius: 0.5rem;
  }
}

@layer base {
  html {
    @apply border-border;
    font-family: Arial, Helvetica, verdana, sans-serif;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-family: Arial, Helvetica, verdana, sans-serif;
    line-height: 1.5;
  }

  a {
    @apply text-primary;
  }

  a:hover {
    @apply text-secondary;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-foreground;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    @apply text-muted-foreground;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  button {
    @apply bg-primary text-primary-foreground rounded px-4 py-2 border-none;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  button:hover {
    @apply bg-muted-primary;
  }

  input,
  textarea {
    @apply border border-border bg-input text-muted-foreground rounded px-3 py-2;
    transition: border-color 0.3s;
  }

  input:focus,
  textarea:focus {
    @apply outline-none border-ring;
  }

  /* Checkbox */
  input[type="checkbox"] {
    @apply appearance-none h-5 w-5 border border-primary rounded bg-input text-muted-foreground transition;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    @apply bg-primary border-ring;
  }

  input[type="checkbox"]:focus {
    @apply outline-none border-ring;
  }

  /* Checkbox hover state */
  input[type="checkbox"]:hover {
    @apply bg-muted-primary;
  }

  /* Base typography for blog content */
  .blog-content h1,
  .blog-content h2,
  .blog-content h3,
  .blog-content h4,
  .blog-content h5,
  .blog-content h6 {
    @apply font-bold text-foreground mt-4 mb-2;
  }

  .blog-content h1 {
    @apply text-4xl;
  }

  .blog-content h2 {
    @apply text-3xl;
  }

  .blog-content h3 {
    @apply text-2xl;
  }

  .blog-content p {
    @apply text-muted-foreground text-base leading-relaxed my-4;
  }

  .blog-content ul {
    @apply list-disc list-inside ml-6 mb-4;
  }

  .blog-content ol {
    @apply list-decimal list-inside ml-6 mb-4;
  }

  .blog-content li {
    @apply text-base leading-relaxed text-muted-foreground;
  }

  .blog-content blockquote {
    @apply border-l-4 border-muted pl-4 italic text-muted-foreground my-4;
  }

  .blog-content pre {
    @apply bg-muted p-4 rounded-md overflow-x-auto;
  }

  .blog-content code {
    @apply bg-muted text-muted-foreground px-1 py-0.5 rounded;
  }

  .blog-content a {
    @apply text-primary;
  }

  .blog-content a:hover {
    @apply text-secondary;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  .blog-content img {
    @apply max-w-full h-auto rounded-md my-4;
  }
}

@layer components {
  .card {
    @apply bg-card text-card-foreground p-4 rounded-lg shadow-lg;
  }

  /* Popover */
  .popover {
    @apply bg-popover text-popover-foreground p-4 rounded-lg shadow-lg;
  }

  /* Alert */
  .alert {
    @apply bg-card text-muted-foreground p-4 rounded-lg shadow-lg;
  }
}
